In [2]:
!pip install dtaidistance

Requirement already satisfied: dtaidistance in /home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages (2.3.6)
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages (from dtaidistance) (1.19.5)

In [3]:
from sys import path
path.append("/home/ec2-user/SageMaker/data-science-development/utils")
path.append("/home/ec2-user/SageMaker/data-science-development/config")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime
from collections import defaultdict
from tqdm import tqdm 
from dtaidistance import dtw

tqdm.pandas()

In [ ]:
df_pred = pd.read_csv("DTW_df_pred.csv").drop("Unnamed: 0", axis=1)

In [5]:
df_pred.head()

,candidate_id,job_order,time_between,time_spent,isco_functie_niveau,education,function_id,isco_code4
0,84556,0,37,156,2.0,0.0,937.0,207.0
1,84556,1,23,116,1.0,0.0,811.0,347.0
2,84556,2,23,275,2.0,0.0,937.0,207.0
3,84556,3,1155,4,1.0,0.0,1521.0,343.0
4,84556,4,203,11,1.0,0.0,1521.0,343.0

In [6]:
career_paths = df_pred.groupby("candidate_id")["isco_code4"]

In [7]:
# Convert to 2d-arrays, getting rid of candidate_ids as values
career_paths = career_paths.progress_apply(lambda x: x.values)

100%|██████████| 465468/465468 [00:11<00:00, 39341.25it/s]

In [8]:
career_lens = career_paths.apply(len)
career_paths = career_paths.loc[(career_lens > 1) & (career_lens <= 100)]

In [9]:
size = max(career_paths.apply(len))

In [9]:
to_fill = np.zeros([len(career_paths), size])

for i, career in enumerate(career_paths.values):
    career = career[:-1]
    to_fill[i][-len(career):] = career

In [14]:
del df_pred
del career_paths
del career_lens
del size

In [10]:
results = defaultdict(lambda: defaultdict(int))

try:
    for i, current in tqdm(enumerate(career_paths.iteritems()), total=len(career_paths)):
        candidate, career = current
        career = career[:-1]

        for j in career_paths.iteritems():
            candidate2, career2 = j

            if candidate != candidate2:
                results[candidate][candidate2] = dtw.distance(career, 
                                                              career2, 
                                                              use_c=True, 
                                                              use_pruning=True)
                
        if i > 1000:
            break
        
except KeyboardInterrupt:
    pass

  0%|          | 1001/265302 [36:13<159:26:00,  2.17s/it]

In [11]:
best_matches = {}

for i in results:
    if len(results[i]):
        best_matches[i] = min(results[i], key=lambda x: results[i][x])

In [12]:
a = np.array([[career_paths[k][-1] == career_paths[k][-2],
               career_paths[k][-1] == career_paths[v][-1]] for k, v in best_matches.items()])

In [13]:
# t-1          # DTW + knn
a[:,0].mean(), a[:,1].mean()

(0.5369261477045908, 0.35429141716566864)

In [11]:
to_fill.shape

(265302, 100)

In [13]:
ds = dtw.distance_matrix(to_fill, compact=True, use_c=True, parallel=True, block=((0,1), (0, 265302)))

In [15]:
dtw.distance(to_fill[0], to_fill[1])

1792.5214085192958

In [17]:
import psutil
psutil.virtual_memory()

svmem(total=33731719168, available=32250499072, percent=4.4, used=1085788160, free=30616322048, active=1764462592, inactive=1128648704, buffers=171974656, cached=1857634304, shared=90112, slab=121921536)

In [28]:
np.array([[1, 2, 3], [3, 2, 1]])

array([[1, 2, 3],
       [3, 2, 1]])

In [29]:
ds = dtw.distance_matrix_fast(np.array([[1, 2, 3], [1, 2, 0]], dtype=np.double),
                              compact=True, 
                              use_pruning=True, 
                              max_length_diff = 100)

In [30]:
ds

array('d', [3.0])