In [1]:
!pip install dtaidistance

Collecting dtaidistance
  Downloading dtaidistance-2.3.6.tar.gz (797 kB)
     |████████████████████████████████| 797 kB 22.6 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages (from dtaidistance) (1.19.5)
Building wheels for collected packages: dtaidistance
  Building wheel for dtaidistance (pyproject.toml) ... done
  Created wheel for dtaidistance: filename=dtaidistance-2.3.6-cp36-cp36m-linux_x86_64.whl size=888976 sha256=1faaef044bd1ced9a0bf955cb4d969f2584d34d84eaa95bd2f88a8524c4dd554
  Stored in directory: /home/ec2-user/.cache/pip/wheels/30/5f/18/3db8e0572e06cde30543380d60b4511e3802d1481c3a3a2642
Successfully built dtaidistance
Installing collected packages: dtaidistance
Successfully installed dtaidistance-2.3.6

In [2]:
from sys import path
path.append("/home/ec2-user/SageMaker/data-science-development/utils")
path.append("/home/ec2-user/SageMaker/data-science-development/config")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime
from collections import defaultdict
from tqdm import tqdm 
from dtaidistance import dtw

tqdm.pandas()

In [3]:
df_pred = pd.read_csv("../Data/DTW_df_pred.csv").drop("Unnamed: 0", axis=1)

In [4]:
df_pred.head()

   candidate_id  job_order  function_id  isco_code4
0         84556          0       1236.0      5131.0
1         84556          1       1065.0      9412.0
2         84556          2       1236.0      5131.0
3         84556          3       2038.0      9329.0
4         84556          4       2038.0      9329.0

In [6]:
career_paths = df_pred.groupby("candidate_id")["isco_code4"]

In [7]:
# Convert to 2d-arrays, getting rid of candidate_ids as values
career_paths = career_paths.progress_apply(lambda x: x.values)

100%|██████████| 465468/465468 [00:11<00:00, 39341.25it/s]

In [8]:
career_lens = career_paths.apply(len)
career_paths = career_paths.loc[(career_lens > 1) & (career_lens <= 100)]

In [9]:
size = max(career_paths.apply(len))

In [9]:
to_fill = np.zeros([len(career_paths), size])

for i, career in enumerate(career_paths.values):
    career = career[:-1]
    to_fill[i][-len(career):] = career

In [14]:
del df_pred
del career_paths
del career_lens
del size

In [10]:
results = defaultdict(lambda: defaultdict(int))

try:
    for i, current in tqdm(enumerate(career_paths.iteritems()), total=len(career_paths)):
        candidate, career = current
        career = career[:-1]

        for j in career_paths.iteritems():
            candidate2, career2 = j

            if candidate != candidate2:
                results[candidate][candidate2] = dtw.distance(career, 
                                                              career2, 
                                                              use_c=True, 
                                                              use_pruning=True)
                        
except KeyboardInterrupt:
    pass

  0%|          | 1001/265302 [36:13<159:26:00,  2.17s/it]

In [11]:
best_matches = {}

for i in results:
    if len(results[i]):
        best_matches[i] = min(results[i], key=lambda x: results[i][x])

In [12]:
a = np.array([[career_paths[k][-1] == career_paths[k][-2],
               career_paths[k][-1] == career_paths[v][-1]] for k, v in best_matches.items()])

In [13]:
# t-1          # DTW + knn
a[:,0].mean(), a[:,1].mean()

(0.5369261477045908, 0.35429141716566864)