In [1]:
from sys import path
path.append("/home/ec2-user/SageMaker/data-science-development/utils")
path.append("/home/ec2-user/SageMaker/data-science-development/config")

import pandas as pd
import numpy as np

from tqdm import tqdm 

tqdm.pandas()

In [22]:
df_pred = pd.read_csv("../Data/df_pred_ext.csv").drop("Unnamed: 0", axis=1)

In [23]:
df_pred.head()

,candidate_id,job_order,time_between,time_spent,isco_functie_niveau,source,education,company_name,function_id,isco_code4
0,84556,0.0,37.0,156.0,2.0,0.0,0.0,324258.0,936.0,208.0
1,84556,1.0,23.0,116.0,1.0,0.0,0.0,324258.0,809.0,348.0
2,84556,2.0,23.0,275.0,2.0,0.0,0.0,329244.0,936.0,208.0
3,84556,3.0,1155.0,4.0,1.0,0.0,0.0,368140.0,1519.0,344.0
4,84556,4.0,203.0,11.0,1.0,0.0,0.0,419826.0,1519.0,344.0

In [24]:
career_paths = df_pred.groupby("candidate_id")["isco_code4"]

In [25]:
# Convert to 2d-arrays, getting rid of candidate_ids as values
career_paths = career_paths.progress_apply(lambda x: x.values)

100%|██████████| 14647/14647 [00:00<00:00, 35807.05it/s]

In [26]:
career_lens = career_paths.apply(len)
career_paths = career_paths.loc[(career_lens > 1)]

In [27]:
career_paths = career_paths.loc[career_paths.apply(lambda x: x[-1] != x[-2])]

In [32]:
majority_class = set(df_pred["isco_code4"].value_counts().nlargest(1).index)

In [33]:
majority_class

{344.0}

In [34]:
majority_class_performance = career_paths.apply(lambda x: x[-1] in majority_class).mean()

In [35]:
print(f"Majority class predictor accuracy: {majority_class_performance * 100:>.2f}%")

Majority class predictor accuracy: 10.50%